---
http_interactions:
- request:
    method: get
    uri: http://ipedariah1.lsdf.kit.edu:8080/StorageImplementation-1.0-SNAPSHOT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - POST,OPTIONS
      Content-Type:
      - text/html;charset=utf-8
      Proxy-Connection:
      - close
    body:
      encoding: UTF-8
      string: '<html><head><title>Apache Tomcat/7.0.25 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 405 - Method Not Allowed</h1><HR size="1" noshade="noshade"><p><b>type</b>
        Status report</p><p><b>message</b> <u>Method Not Allowed</u></p><p><b>description</b>
        <u>The specified HTTP method is not allowed for the requested resource (Method
        Not Allowed).</u></p><HR size="1" noshade="noshade"><h3>Apache Tomcat/7.0.25</h3></body></html>'
  recorded_at: Tue, 10 Sep 2013 13:11:40 GMT
recorded_with: VCR 2.5.0
